<%- include("include/head.ejs") %>
<body class="container mt-5">
    <h2>This page belongs to @<%= data.name%></h2>
    <button class="btn btn-danger btn-lg">Follow</button>
    <button class="btn btn-primary btn-lg">Message</button>
    <h2 class="text-warning">Followers : <%= data.followers%> &nbsp;&nbsp;&nbsp;Following : <%= data.followings%></p> 
    <hr>   
     
    <% for(let post of data.posts){%>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=post.image%>" alt="Card image cap" width="400px">
            <h2 class="card-title"><%=post.likes%>&nbsp;&nbsp;&nbsp;<%=post.comments%></h5>
        </div>
    <%}%>
    <%- include("include/footer.ejs") %>
</body>
</html>